.grid-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  padding: 0 1rem;
}

/* Responsivo para tablets */
@media (max-width: 900px) {
  .grid-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Responsivo para celular */
@media (max-width: 600px) {
  .grid-cards {
    grid-template-columns: 1fr;
  }
}
