.section {
    /* padding-top: 20px; */
    padding: 20px;
    margin-top: auto;
    background-color: none;
  }
  
  .titulo {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 10px;
    color: #4C4748;
  }
  
  .linha-divisoria {
    border: none;
    height: 4px;
    background-color: #bda356;
    width: 95%;
    max-width: 95%;
    margin: 10px 0 40px 0;
  }
  
  .segundoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    gap: 40px;
    flex-wrap: wrap;

    /* background-color: white; */
  }
  
  .imagem img {
    width: auto;
    max-width: 600px;
    height: auto;
    max-height: 300px;
    border-radius: 30px;
  }
  
  .texto {
    flex: 1;
    color: #3A3939;
    padding: 3%;
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    max-width: 800px;
  }
  
  .titulo-com-linha {
    display: inline-block;
    position: relative;
    font-size: 24px; /* Ajuste se quiser maior/menor */
    font-weight: bold;
  }
  
  .titulo-com-linha::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Espaço entre texto e linha */
    width: 100%;
    height: 3px;
    background-color: #CBB26A; /* Cor dourada semelhante */
  }