.conteudoDireita{
    align-self: flex-end;
}

.conteudoEsquerda{
    align-self: flex-start;
}

.paragrafoDiferencial{
    max-width: 800px;
    padding: 1.5rem;
    background-color: var(--cor-fundo-claro);
    border-radius: 12px;
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.08);
    color: var(--cor-texto-claro);
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
}

body.modo-escuro .paragrafoDiferencial {
    background-color: var(--cor-fundo-escuro);
    color: var(--cor-texto-escuro);
  }